<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="csw-catalogue" version="0.3.5">
  <details>
    <title>CSW Catalogue</title>
    <email>avera@conwet.com</email>
    <image>img/nomenclator.png</image>
    <smartphoneimage>img/nomenclator.png</smartphoneimage>
    <description>This widget allows users to discover new services through their metadata.</description>
    <doc>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#getfeature-widget</doc>
    <authors>avera</authors>
  </details>
  <persistentvariables>
    <variable name="services" type="text" label="Services"/>
  </persistentvariables>
  <wiring>
    <outputendpoint name="location_info_event" type="text" label="Service info" friendcode="service_info"/>
    <outputendpoint name="output_text_event" type="text" label="Output Text" friendcode="keyword"/>
    <outputendpoint name="search_text_event" type="text" label="Search Text" friendcode="keyword"/>
    <inputendpoint name="search_text_slot" type="text" label="Search Text" friendcode="keyword"/>
    <inputendpoint name="csw_service_slot" type="text" label="CSW info" friendcode="service_info"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="28" width="6"/>
</widget>
